body {
    margin:5px;
    background-color: gray;
    font-family: Arial,Verdana,sans-serif;
    font-size: 0.8em;
}

h1 {
    margin: 0;
    text-align: center;
}

.explain {
    width: 100%;
    font-size: 1em;
    padding: 5px;
}

.leerdoel, .italic {
    font-style: italic;
}

div.image_container {
    margin: 0 auto;
}

.example_image {
    display: block;

}

.hidden {
    display: none;
}

/* hierboven de styling niet aanpassen, dit is niet nodig */
/* pas vanaf hier de styling aan voor de oefening */
/* de meeste CSS selectors zijn reeds gemaakt, echter nog niet compleet */

.container {
    text-align: center;
    width: 100%;
}

.item {
    background-color: beige;
    margin:2px;

}

.item:hover { background-color: red; }

.item p {
    margin: 0;
    background-color: burlywood;
    padding: 2px;

}